.Wrapper-Home {
  // background-color: #fbfaf8;
  background-color: #f8f3ed;
  padding-top: 10px;
  padding-bottom: 20px;
  .Inner-Home {
    width: 1480px;
    margin: 0 auto;
    .hero-animation-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px; /* Высота секции для анимации */
      margin-bottom: 50px; /* Отступ между анимацией и следующими блоками */
    }
  }
}
